[Unit]
Description=Librespot service
After=syslog.target


[Service]
Type=simple

Environment="RUST_BACKTRACE=1"

ExecStart=/home/ales/librespot/target/debug/librespot --name skritek
Restart=always
RestartSec=2


[Install]
WantedBy=multi-user.target
