[Unit]
Description=Librespot service
After=syslog.target


[Service]
Type=simple
PIDFile=/var/run/librespot.pid

Environment="RUST_BACKTRACE=1"

ExecStartPre=/bin/rm -f /var/run/librespot.pid
ExecStart=/home/ales/librespot/target/debug/librespot --name skritek
#Restart=on-abort
Restart=always
RestartSec=2


[Install]
WantedBy=multi-user.target
